<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="/Monster/imgs/favicon.jpg" type="image/x-icon">
    <title>administrador</title>
</head>
<body>
   <main>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                    <form class="justify-content-center justify-content-md-start mb-3 mb-md-0">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Digite aqui o que procura">
                            <button class="btn btn-outline-success">
                                    Buscar
                            </button>
                        </div>
                    </form>
            </div>
            <div class="col-12 col-md-7">
                <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                    <form class="ml-3 d-inline-block">
                        <select class="form-select form-select-sm">
                            <option> Ordernar pelo nome</option>
                            <option> Ordernar pelo preço</option>
                        </select>
                    </form>
                    <nav class="d-inline-block">
                        <ul class="pagination pagination-sm my-0">
                            <li class="page-item">
                                <button class="page-link">1</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">2</button>
                            </li>
                            <li class="page-item disabled">
                                <button class="page-link">3</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">4</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link">5</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                <div class="card text-center" bg-light>
                    <img src="/Monster/imgs/x.png" alt="">
                    <div class="card-header">
                            R$ 5799,99
                    </div>
                    <div class="card-body">
                        <h5 card-title> Iphone-X</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique officia id optio, maxime veritatis sunt cupiditate! Dolore magni quaerat praesentium excepturi, architecto modi quisquam est. Est tenetur repellat dolor placeat!
                        </p>
                    </div>
                    <div class="card-footer">
                            <form class="d-block">
                                <button class="btn btn-danger">
                                    Adicionar ao Carrinho
                                </button>
                            </form>
                            <small class="text-success">120</small><!--Quantidade em estoque-->
                    </div>
                </div>
            </div>
        </div>
    </div>
   </main>
</body>
</html>