<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/favicon.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/Users/Pichau/Desktop/Projeto Monster/Monster/style/style.css">
  <link rel="stylesheet" href="/Users/Pichau/Desktop/Projeto Monster/Monster/scripts/scripts.js">
  <title>Monster</title>

</head>

<body>
  <header>
    <div id="whatsapp-button" class="whatsapp-button">
      <a href="https://l.instagram.com/?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D5515988331773&e=AT38EoTplx8lmAD3eU_rDceyLO5qHDqQh5V4HbeSyUG12LhBZY-24-LzHXA-wlv5poBzb-wHLDPSV3I0F5oaHOk2wiqMn1sSAAZaDg"
        target="_blank">
        <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/WhatsApp-icon.png"
          alt="icon do WhatsApp, para contatar a loja">
      </a>
    </div>

    <div id="setaCima-button" class="setaCima-button">
      <a href="#">
        <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/seta.png"
          alt="Seta para rolar a pagina para o topo">
      </a>
    </div>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#Contatos">Meios de Contato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#iphones">Iphones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#macbooks">Macbooks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ipads">Ipads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#outros">Outros Acessorios</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="loginAdmin.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <!-----------------------------------------------------------------CARROSEL-------------------------------------------------------------------->
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-inter="4">
          <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/banner2.png" class="d-block w-100"
            alt="banner de um relogio da Apple">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/banner1.png" class="d-block w-100"
            alt="banner com produtos Apple">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/banner3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/banner4.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5></h5>
            <p></p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-----------------------------------------------------------------CARROSEL-------------------------------------------------------------------->
    <section>
      <div class="container-fluid">
        <div class="m-4 text-center">
          <h2>Produtos</h2>
        </div>
      </div>

      <a href="/Users/Pichau/Desktop/Projeto Monster/Monster/views/gridprodutos/iphones.html" target="_self"
        style="text-decoration: none;">
        <div class="row row-cols-1 row-cols-md-2 g-4 m-5">
          <div class="col">
            <div class="card" id="iphones">
              <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/ip.webp" class="card-img-top"
                alt="imagem de iphones">
              <div class="card-body">
                <h3 class="card-title"
                  style="font-family: 'Major Mono Display', monospace; text-align: center; font-weight: bold;">Iphones
                </h3>
              </div>
            </div>
          </div>
      </a>

      <a href="/Users/Pichau/Desktop/Projeto Monster/Monster/views/gridprodutos/mackbooks.html" target="_self"
        style="text-decoration: none;">
        <div class="col">
          <div class="card" id="macbooks">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/macbok.png" class="card-img-top"
              alt="imagem de um macbook" height="480px">
            <div class="card-body">
              <h3 class="card-title"
                style="font-family: 'Major Mono Display', monospace; text-align: center; font-weight: bold;">MackBooks
              </h3>
            </div>
          </div>
        </div>
      </a>

      <a href="/Users/Pichau/Desktop/Projeto Monster/Monster/views/gridprodutos/ipad.html" target="_self"
        style="text-decoration: none;">
        <div class="col">
          <div class="card" id="ipads">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/ipads.png" class="card-img-top"
              alt="imagem de um ipad" height="480px">
            <div class="card-body">
              <h3 class="card-title"
                style="font-family: 'Major Mono Display', monospace; text-align: center; font-weight: bold;">Ipads</h3>
            </div>
          </div>
        </div>
      </a>

      <a href="/Users/Pichau/Desktop/Projeto Monster/Monster/views/gridprodutos/outros.html" target="_self"
        style="text-decoration: none;">
        <div class="col">
          <div class="card" id="outros">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/geral.jpg" class="card-img-top"
              alt="Produtos da Apple">
            <div class="card-body">
              <h3 class="card-title"
                style="font-family: 'Major Mono Display', monospace; text-align: center; font-weight: bold;">Outros
                Produtos</h3>
            </div>
          </div>
        </div>
        </div>
      </a>
      <!---------------------------------------------------------------Feedback---------------------------------------------------------------->
    </section>
    <section class="container marketing">
      <div class="m-3 d-flex justify-content-around">
        <h2>Feedbacks</h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="d-flex align-items-center flex-column">
            <div class="col-lg-4">
              <div class="d-flex align-items-center flex-column">
                <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/feedback3.png" alt="Sua imagem" width="203"
                  height="350" style="border-radius: 15px;"> <br>
                <p></p>
                <p><a href="https://www.instagram.com/stories/highlights/17907755305754587/" target="_blank"><button
                      type="button" class="btn btn-outline-success">CONFIRA</button></a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex align-items-center flex-column">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/feedback2.png" alt="Sua imagem" width="203"
              height="350" style="border-radius: 15px;"> <br>
            <p></p>
            <p><a href="https://www.instagram.com/stories/highlights/17907755305754587/" target="_blank"><button
                  type="button" class="btn btn-outline-success">CONFIRA</button></a></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-flex align-items-center flex-column">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/feed1.png" alt="Sua imagem" width="203"
              height="350" style="border-radius: 15px;"> <br>
            <p></p>
            <p><a href="https://www.instagram.com/stories/highlights/17907755305754587/" target="_blank"><button
                  type="button" class="btn btn-outline-success">CONFIRA</button></a></p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="mt-5" style="background-color: rgb(0, 0, 0); height: 160px;">
    <div class="container d-flex justify-content-around">
      <div class="p-4 g-col-6">
        <div class="fs-4">
          <p class="float-right">Formas de Pagamento</p>
          <div class="formasDePagamento">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/icons/elo.png" alt="">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/icons/pix.png" alt="">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/icons/mastercard.avif" alt="">
            <img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/icons/visa.avif" alt="">
          </div>
        </div>
      </div>

      <div class="p-4 g-col-6" id="Contatos">
        <div class="fs-4">
          <p class="float-left">Redes Sociais</p>
          <a href="https://m.facebook.com/profile.php?id=100066962044897&eav=AfZY5-brCR2iEH_kG9N_MQ4e5v8257ymqeo2ocxPrUcfY-tdQ2CB2Q3q6OX9ieju2aU&tsid=0.6919627692502548&source=result"
            target="_blank"><img src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/icons/facebook.png"
              alt="icone do facebook"></a>
          <a href="https://www.instagram.com/monstersorocaba/" target="_blank"><img
              src="/Users/Pichau/Desktop/Projeto Monster/Monster/imgs/icons/isntagram.png" alt="icone do instagram"></a>
        </div>
      </div>
    </div>
  </footer>
  <script>
    function scrollBottom() {
      window.scrollTo(0, document.body.scrollHeight);
    }
  </script>
</body>

</html>